#cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 0px 250px;

    #card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 2px black solid;
        padding: 10px;

        img{
            height: 200px;
            width:200px;
        }

        #card_details{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items:start;
            padding:10px;
            
            #about{
                font-size: 20px;
                color: gray;
            }

            #card_price{
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: end;
                padding: 10px;
                gap:10px;
    
                #rupees{
                    font-size: 20px;
                    font-weight: bold;
                    
    
                }
                
                #onwards{
                    font-size:10px;
                    color: gray;
                }
                    
            }
            
            #delivery{
                padding: 5px;
                background-color:rgba(232, 221, 221, 0.726);
                font-size: 15px;
                border-radius: 20px;
                color: rgb(66, 53, 53);
            }
            #ratings_reviews{
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                gap: 3px;
                padding: 10px;

                #ratings{
                    background-color: rgb(70, 172, 70);
                    gap:5px;
                    border-radius:20px;
                    padding: 5px 15px;
                    font-size: 17x;
                    color: white;
                }
                #reviews{
                    color: grey;
                    font-size: 15px;

                }
            }
            
    
        }
    }
}